Repository edouardmisset/my-learning-curve: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, biome check --write --no-errors-on-unmatched, stylelint --fix, pnpm update:edit:date, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "$schema": "https://www.schemastore.org/lintstagedrc.schema.json",
  "*.{js,jsx,ts,tsx,mjs,cjs,json,jsonc}": [
    "biome check --write --no-errors-on-unmatched"
  ],
  "*.css": ["stylelint --fix"],
  "*.{md,mdx}": ["pnpm update:edit:date", "markdownlint-cli2 --fix"]
}

docs: add section on installing skills in README
  README.md
Due: pnpm update:edit:date, markdownlint-cli2 --fix

feat: add skills integration and clean code guidelines
  astro.config.ts
  package.json
  pnpm-lock.yaml
  skills/clean-code/SKILL.md
  src/content.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm update:edit:date, markdownlint-cli2 --fix

feat: add agent skills page and update links for skills integration
  src/components/DocumentLayout.astro
  src/config/astro/starlight-options.ts
  src/constants/links.ts
  src/pages/skills/[...slug].astro
  src/pages/skills/index.astro
Due: biome check --write --no-errors-on-unmatched

wip - Write draft of an article about AI Fixes #51
  cspell.json
  src/content/docs/blog/25-ai-stack.mdx
  src/content/docs/blog/assets/ai-eval-dimensions.svg
  src/content/docs/blog/assets/ai-stack-overview.svg
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm update:edit:date, markdownlint-cli2 --fix

fixes
  src/content/docs/blog/25-ai-stack.mdx
Due: pnpm update:edit:date, markdownlint-cli2 --fix

Fixes #51
  src/content/docs/blog/25-ai-stack.mdx
  src/content/docs/blog/assets/ai-eval-dimensions.svg
  src/content/docs/blog/assets/ai-stack-overview.svg
Due: pnpm update:edit:date, markdownlint-cli2 --fix

fix: update AI evaluation diagrams for clarity and consistency
  src/content/docs/blog/assets/ai-eval-dimensions.svg
  src/content/docs/blog/assets/ai-stack-overview.svg
Due: none

feat: add mermaid support
  astro.config.ts
  cspell.json
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

chore: upgrade deps
  package.json
  pnpm-lock.yaml
  src/config/astro/starlight-options.ts
  src/content/docs/learn/guides/project/tsconfig-base.jsonc
Due: biome check --write --no-errors-on-unmatched
