Repository edouardmisset/my-learning-curve: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, biome check --write --no-errors-on-unmatched, stylelint --fix, markdownlint-cli2 --fix

feat: add a spell checker to the project and its configuration Fixes #23 and fix spelling mistakes
  cspell.json
  package.json
  pnpm-lock.yaml
  src/content/docs/blog/03-desctructuring.mdx
  src/content/docs/blog/04-memoization.mdx
  src/content/docs/learn/guides/project-collaboration/00-getting-started.mdx
  src/content/docs/learn/guides/project-collaboration/05-conventional-commits.md
  src/content/docs/learn/guides/project-collaboration/06-merge-request-recommendations.md
  src/content/docs/learn/guides/project-collaboration/07-git-workflow.md
  src/content/docs/learn/guides/project/stylelint.mdx
  src/content/docs/learn/tutorials/data-analysis/00-workflow.md
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

refactor: move the dashboard to a separate app
  src/components/Disclaimer.astro
  src/components/FeatureList.astro
  src/components/PackageManagers.astro
  src/components/feature-list/FeatureCard.astro
  src/components/feature-list/FeatureCard.module.css
  src/components/feature-list/FeatureControls.astro
  src/components/feature-list/FeatureControls.module.css
  src/components/feature-list/FeatureDashboard.astro
  src/components/feature-list/FeatureDashboard.module.css
  src/components/feature-list/dashboard-logic.ts
  src/components/feature-list/types.ts
  src/content/docs/blog/18-web-platform-baseline.mdx
  src/content/docs/blog/19-new-web-features.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat: Add FeatureList component and integrate Baseline status for web features
  package.json
  pnpm-lock.yaml
  src/components/FeatureList.astro
  src/constants/webFeatures.ts
  src/content/docs/blog/18-web-platform-baseline.mdx
  src/content/docs/blog/19-new-web-features.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

style: Adjust features grid layout for improved responsiveness
  src/components/feature-list/FeatureDashboard.module.css
Due: none

Refactor CSS variable definitions for consistency and clarity
  .stylelintrc.json
  .vscode/settings.json
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/FeatureList.astro
  src/components/PackageManagers.astro
  src/components/feature-list/FeatureCard.astro
  src/components/feature-list/FeatureCard.module.css
  src/components/feature-list/FeatureControls.astro
  src/components/feature-list/FeatureControls.module.css
  src/components/feature-list/FeatureDashboard.astro
  src/components/feature-list/FeatureDashboard.module.css
  src/components/feature-list/dashboard-logic.ts
  src/components/feature-list/types.ts
  src/constants/webFeatures.ts
  src/content/docs/snippets/css/components/blur-backdrop.css
  src/content/docs/snippets/css/components/kbd.css
  src/content/docs/snippets/css/layouts/every-layout.css
  src/content/docs/snippets/css/layouts/kp-layouts.css
  src/content/docs/snippets/css/layouts/one-line-layouts.css
  src/content/docs/snippets/css/layouts/smol-layouts.css
  src/content/docs/snippets/css/resets/starter.css
  src/content/docs/snippets/css/utilities/contrast-color.css
  src/content/docs/snippets/css/variables/animation.css
  src/content/docs/snippets/css/variables/button.css
  src/content/docs/snippets/css/variables/colors.css
  src/content/docs/snippets/css/variables/dark-theme.css
  src/content/docs/snippets/css/variables/durations.css
  src/content/docs/snippets/css/variables/fonts.css
  src/content/docs/snippets/css/variables/gradients.css
  src/content/docs/snippets/css/variables/light-theme.css
  src/content/docs/snippets/css/variables/normalize.css
  src/styles/custom.css
Due: biome check --write --no-errors-on-unmatched

refactor: move the dashboard to a separate app
  src/components/FeatureList.astro
  src/components/PackageManagers.astro
  src/components/feature-list/FeatureCard.astro
  src/components/feature-list/FeatureCard.module.css
  src/components/feature-list/FeatureControls.astro
  src/components/feature-list/FeatureControls.module.css
  src/components/feature-list/FeatureDashboard.astro
  src/components/feature-list/FeatureDashboard.module.css
  src/components/feature-list/dashboard-logic.ts
  src/components/feature-list/types.ts
  src/content/docs/blog/18-web-platform-baseline.mdx
  src/content/docs/blog/19-new-web-features.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

Baseline status article (#47)
  .stylelintrc.json
  .vscode/settings.json
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/PackageManagers.astro
  src/constants/webFeatures.ts
  src/content/docs/blog/18-web-platform-baseline.mdx
  src/content/docs/snippets/css/components/blur-backdrop.css
  src/content/docs/snippets/css/components/kbd.css
  src/content/docs/snippets/css/layouts/every-layout.css
  src/content/docs/snippets/css/layouts/kp-layouts.css
  src/content/docs/snippets/css/layouts/one-line-layouts.css
  src/content/docs/snippets/css/layouts/smol-layouts.css
  src/content/docs/snippets/css/resets/starter.css
  src/content/docs/snippets/css/utilities/contrast-color.css
  src/content/docs/snippets/css/variables/animation.css
  src/content/docs/snippets/css/variables/button.css
  src/content/docs/snippets/css/variables/colors.css
  src/content/docs/snippets/css/variables/dark-theme.css
  src/content/docs/snippets/css/variables/durations.css
  src/content/docs/snippets/css/variables/fonts.css
  src/content/docs/snippets/css/variables/gradients.css
  src/content/docs/snippets/css/variables/light-theme.css
  src/content/docs/snippets/css/variables/normalize.css
  src/styles/custom.css
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

refactor: clean up PackageManagers component and improve getEnv function
  .gitignore
  .vscode/settings.json
  cspell.json
  package.json
  pnpm-lock.yaml
  src/components/PackageManagers.astro
  src/content/docs/snippets/typescript/function/get-env.ts
  src/pages/og/[...slug].ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched

docs: write an article on `.editorconfig` files
  src/content/docs/learn/guides/project/editorconfig.mdx
Due: markdownlint-cli2 --fix

chore: improve check script
  .markdownlint.jsonc
  cspell.json
  package.json
  src/content/docs/blog/18-web-platform-baseline.mdx
  src/content/docs/reference/templates/article-template.mdx
  src/content/docs/snippets/typescript/function/get-env.ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

fix: update blog link to use full URL
  src/content/docs/index.mdx
Due: markdownlint-cli2 --fix

fix: correct punctuation and formatting in documentation files
  src/content/docs/learn/guides/project/editorconfig.mdx
Due: markdownlint-cli2 --fix

fix: add import statement for PackageManagers component in markdownlint documentation
  src/content/docs/learn/guides/project/markdownlint.mdx
Due: markdownlint-cli2 --fix

fix: fix reference link to full URL
  src/content/docs/reference/templates/article-template.mdx
Due: markdownlint-cli2 --fix

feat: add script to update frontmatter with lastUpdated date
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  scripts/update-frontmatter.ts
Due: biome check --write --no-errors-on-unmatched

docs: add tldr section to article template and writing guide
  src/content/docs/learn/guides/project-collaboration/11-writing-guidelines.mdx
  src/content/docs/reference/templates/article-template.mdx
Due: markdownlint-cli2 --fix

fix: fix precommit hook
  .husky/pre-commit
Due: none

test: update lastUpdated date in writing guidelines
  src/content/docs/learn/guides/project-collaboration/11-writing-guidelines.mdx
Due: markdownlint-cli2 --fix

fix: fix precommit hook
  package.json
Due: biome check --write --no-errors-on-unmatched

fix: correct lastUpdated date in writing guidelines
  src/content/docs/learn/guides/project-collaboration/11-writing-guidelines.mdx
Due: markdownlint-cli2 --fix

fix: fix precommit hook
  .lintstagedrc.json
  package.json
  src/content/docs/learn/guides/project-collaboration/11-writing-guidelines.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

chore: formatting
  src/content/docs/blog/18-web-platform-baseline.mdx
Due: markdownlint-cli2 --fix

fix: update TypeScript target and library version to es2024
  src/content/docs/learn/guides/project/tsconfig-base.jsonc
Due: biome check --write --no-errors-on-unmatched

feat: add GitHub Copilot instructions
  .github/copilot-instructions.md
  .vscode/settings.json
  src/content/docs/learn/guides/project/tsconfig-base.jsonc
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat: add comprehensive guide on web rendering patterns
  src/content/docs/blog/19-web-rendering-patterns.mdx
Due: markdownlint-cli2 --fix

fix: refine content and clarify rendering patterns
  src/content/docs/blog/19-web-rendering-patterns.mdx
Due: markdownlint-cli2 --fix

Update src/content/docs/blog/19-web-rendering-patterns.mdx
  src/content/docs/blog/19-web-rendering-patterns.mdx
Due: markdownlint-cli2 --fix

fix: typos
  src/content/docs/blog/19-web-rendering-patterns.mdx
Due: markdownlint-cli2 --fix

fix: update cSpell.words to include technical terms
  .vscode/settings.json
Due: biome check --write --no-errors-on-unmatched

chore: update cSpell words list to include 'Creational' and 'undoable'
  .vscode/settings.json
Due: biome check --write --no-errors-on-unmatched

fix: update import paths for Disclaimer component to use relative paths
  src/content/docs/blog/15-oop.mdx
  src/content/docs/blog/16-emberjs.mdx
  src/content/docs/blog/17-programming-paradigms.mdx
Due: markdownlint-cli2 --fix

docs: enhance programming paradigms section with links and additional context
  src/content/docs/blog/17-programming-paradigms.mdx
Due: markdownlint-cli2 --fix

docs: add explanation and example for the `declare` keyword in TypeScript classes
  src/content/docs/blog/15-oop.mdx
Due: markdownlint-cli2 --fix

docs: add writing guidelines and article template
  src/content/docs/learn/guides/project-collaboration/10-style.md
  src/content/docs/learn/guides/project-collaboration/11-writing-guidelines.mdx
  src/content/docs/learn/guides/project-collaboration/XX-package-manager-benchmark.md
  src/content/docs/reference/templates/article-template.mdx
Due: markdownlint-cli2 --fix

docs: add programming paradigms diagram to enhance visual understanding
  src/assets/programming-paradigms.png
  src/content/docs/blog/17-programming-paradigms.mdx
Due: markdownlint-cli2 --fix

chore: formatting
  src/content/docs/blog/17-programming-paradigms.mdx
Due: markdownlint-cli2 --fix

docs: enhance TypeScript types guide with detailed explanations and examples
  src/content/docs/blog/01-types.mdx
Due: markdownlint-cli2 --fix

docs: add comprehensive guide on programming paradigms
  src/content/docs/blog/17-programming-paradigms.mdx
Due: markdownlint-cli2 --fix

chore: update dep
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  https://www.schemastore.org/lintstagedrc.schema.json: any of: $schema
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs,json,jsonc}
  stylelint --fix: any of: *.{css}
  markdownlint-cli2 --fix: any of: *.{md,mdx}
