Repository edouardmisset/my-learning-curve: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, biome check --write --no-errors-on-unmatched, stylelint --fix, pnpm update:edit:date, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "$schema": "https://www.schemastore.org/lintstagedrc.schema.json",
  "*.{js,jsx,ts,tsx,mjs,cjs,json,jsonc}": [
    "biome check --write --no-errors-on-unmatched"
  ],
  "*.css": ["stylelint --fix"],
  "*.{md,mdx}": ["pnpm update:edit:date", "markdownlint-cli2 --fix"]
}

feat(blog): add webhooks article
  src/content/docs/blog/24-webhooks.mdx
  src/styles/custom.css
Due: stylelint --fix, pnpm update:edit:date, markdownlint-cli2 --fix

fix(blog): use hono instead of express
  cspell.json
  src/content/docs/blog/24-webhooks.mdx
Due: biome check --write --no-errors-on-unmatched, pnpm update:edit:date, markdownlint-cli2 --fix

chore: formatting
  src/content/docs/blog/24-webhooks.mdx
Due: pnpm update:edit:date, markdownlint-cli2 --fix

feat(blog): add sender webhook example
  src/content/docs/blog/24-webhooks.mdx
Due: pnpm update:edit:date, markdownlint-cli2 --fix

docs(blog): expand trade-offs section with SSE and message brokers
  src/content/docs/blog/24-webhooks.mdx
Due: pnpm update:edit:date, markdownlint-cli2 --fix

feat(blog): add conclusion and best practices for webhooks
  src/content/docs/blog/24-webhooks.mdx
Due: pnpm update:edit:date, markdownlint-cli2 --fix

Rewrite the FP version of the solid principle Fixes #58
  src/content/docs/blog/11-solid-principles.mdx
Due: pnpm update:edit:date, markdownlint-cli2 --fix

fix: correct typo in comment for UserService class
  .markdownlint-cli2.jsonc
  cspell.json
  src/content/docs/blog/11-solid-principles.mdx
Due: biome check --write --no-errors-on-unmatched, pnpm update:edit:date, markdownlint-cli2 --fix

fix: update linting scripts in package.json and vite.config.ts for improved markdown checks
  package.json
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched

fix: staged script
  package.json
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched

wip - Write draft of an article about AI Fixes #51
  cspell.json
  src/content/docs/blog/25-ai-stack.mdx
  src/content/docs/blog/assets/ai-eval-dimensions.svg
  src/content/docs/blog/assets/ai-stack-overview.svg
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm update:edit:date, markdownlint-cli2 --fix

feat: add the ability tot view code snippet fullscreen
  ec.config.mjs
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

feat: integrate astro-robots and refactor starlight options for improved SEO and plugin management
  astro.config.ts
  cspell.json
  package.json
  pnpm-lock.yaml
  public/robots.txt
  src/config/astro/plugins/catppuccin-options.ts
  src/config/astro/plugins/starlight-blog-options.ts
  src/config/astro/plugins/starlight-kbd-options.ts
  src/config/astro/plugins/starlight-llms-txt-options.ts
  src/config/astro/robots-options.ts
  src/config/astro/sitemap-options.ts
  src/config/astro/starlight-options.ts
Due: biome check --write --no-errors-on-unmatched

feat: add RSS feed functionality and styling
  .github/workflows/deploy.yml
  cspell.json
  package.json
  pnpm-lock.yaml
  public/favicon.ico
  src/components/FeedLayout.astro
  src/config/astro/starlight-options.ts
  src/config/feeds.ts
  src/constants/links.ts
  src/content.config.ts
  src/content/docs/index.mdx
  src/pages/feeds/[feed].astro
  src/pages/feeds/[feed]/[article].astro
  src/pages/feeds/index.astro
  src/styles/custom.css
  src/styles/feed.css
Due: biome check --write --no-errors-on-unmatched, stylelint --fix, pnpm update:edit:date, markdownlint-cli2 --fix

chore: cleanup
  astro.config.ts
  public/llms-full.txt
  public/llms.txt
  src/config/astro/plugins/starlight-llms-txt-options.ts
Due: biome check --write --no-errors-on-unmatched

fix: fix build
  src/pages/feeds/[feed].astro
  src/pages/feeds/[feed]/[article].astro
  src/utils/feeds.ts
Due: biome check --write --no-errors-on-unmatched

refactor: feed handling
  .github/copilot-instructions.md
  astro.config.ts
  cspell.json
  src/pages/feeds/[feed].astro
  src/pages/feeds/[feed]/[article].astro
  src/pages/feeds/index.astro
  src/pages/og/[...slug].ts
  src/styles/custom.css
  src/utils/feeds.ts
Due: biome check --write --no-errors-on-unmatched, stylelint --fix, pnpm update:edit:date, markdownlint-cli2 --fix

fix: fix og images
  astro.config.ts
  src/pages/og/[...slug].ts
  src/route-data.ts
Due: biome check --write --no-errors-on-unmatched

styles: update image generation styles and border properties
  src/pages/og/[...slug].ts
Due: biome check --write --no-errors-on-unmatched

fix: fix favicon
  src/config/astro/starlight-options.ts
Due: biome check --write --no-errors-on-unmatched

fix: update favicon and app icons for web manifest
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/site.webmanifest
  src/components/FeedLayout.astro
  src/config/astro/starlight-options.ts
Due: biome check --write --no-errors-on-unmatched

fix: add fallback description logic for Open Graph images
  src/pages/og/[...slug].ts
  src/route-data.ts
Due: biome check --write --no-errors-on-unmatched

fix: fix ci builds
  .github/workflows/deploy.yml
Due: none

refactor: add DocumentLayout component and refactor FeedLayout usage
  src/components/DocumentLayout.astro
  src/components/FeedLayout.astro
  src/pages/feeds/[feed].astro
  src/pages/feeds/[feed]/[article].astro
  src/pages/feeds/index.astro
Due: none

refactor: refactor
  src/utils/discovery.ts
  src/utils/feeds.ts
Due: biome check --write --no-errors-on-unmatched

feat: enhance feed loading with error handling and update build configuration
  .github/workflows/deploy.yml
  src/content.config.ts
Due: biome check --write --no-errors-on-unmatched

refactor: update site manifest, enhance type definitions, and improve function return types
  public/site.webmanifest
  scripts/update-frontmatter.ts
  src/components/DocumentLayout.astro
  src/config/feeds.ts
  src/content.config.ts
  src/pages/[...slug].md.ts
  src/pages/feeds/[feed].astro
  src/pages/feeds/[feed]/[article].astro
  src/pages/feeds/types.ts
  src/utils/discovery.ts
  src/utils/feeds.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched

fix: fix manifest url
  src/components/DocumentLayout.astro
  src/config/astro/starlight-options.ts
Due: biome check --write --no-errors-on-unmatched

chore: rework VS Code settings
  src/content/docs/reference/tools/setup.md
Due: pnpm update:edit:date, markdownlint-cli2 --fix

chore: update VS Code settings
  package.json
  src/content/docs/learn/guides/project/.vscode.settings.json
  src/content/docs/learn/guides/project/vscode-settings.mdx
Due: biome check --write --no-errors-on-unmatched, pnpm update:edit:date, markdownlint-cli2 --fix

chore: clean up VS Code setup by removing unused extensions and updating alias commands
  src/content/docs/reference/tools/setup.md
Due: pnpm update:edit:date, markdownlint-cli2 --fix

chore: add mkcd function to create and navigate into a directory
  src/content/docs/reference/tools/setup.md
Due: pnpm update:edit:date, markdownlint-cli2 --fix

fix: update logo path to use apple-touch-icon.png
  src/pages/og/[...slug].ts
Due: biome check --write --no-errors-on-unmatched

feat: add initial README template with project structure and usage guidelines
  src/content/docs/reference/templates/README.md
Due: pnpm update:edit:date, markdownlint-cli2 --fix

refactor: clean up imports and simplify feed entry sorting logic
  package.json
  pnpm-lock.yaml
  src/utils/discovery.ts
  src/utils/feeds.ts
Due: biome check --write --no-errors-on-unmatched

fix: fix build
  src/content/docs/reference/templates/_README.md
Due: pnpm update:edit:date, markdownlint-cli2 --fix

chore: cleanup
  cspell.json
  src/content/docs/reference/templates/_README.md
  src/content/docs/reference/tools/setup.md
Due: biome check --write --no-errors-on-unmatched, pnpm update:edit:date, markdownlint-cli2 --fix

chore: choring
  knip.config.ts
Due: biome check --write --no-errors-on-unmatched

feat: add keyboard shortcuts documentation for Linear and update navigation links
  .markdownlint.jsonc
  src/config/astro/plugins/starlight-kbd-options.ts
  src/content/docs/reference/cheatsheets/linear.mdx
  src/content/docs/reference/cheatsheets/vs-code-shortcuts.mdx
  src/content/docs/reference/tools/vscode-extensions.mdx
Due: biome check --write --no-errors-on-unmatched, pnpm update:edit:date, markdownlint-cli2 --fix

feat: add grilling skill from mattpocock
  skills/grilling/SKILL.md
Due: pnpm update:edit:date, markdownlint-cli2 --fix
