Repository edouardmisset/my-learning-curve: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.json, biome check --write --no-errors-on-unmatched, stylelint --fix, markdownlint-cli2 --fix

fix: fix links
  src/content/docs/blog/05-higher-order-functions.mdx
  src/content/docs/blog/10-dry-principle.mdx
  src/content/docs/blog/11-solid-principles.mdx
  src/content/docs/blog/15-oop.mdx
  src/content/docs/blog/17-programming-paradigms.mdx
Due: markdownlint-cli2 --fix

fix: remove duplicate entry for TTFB in cSpell.words
  .vscode/settings.json
Due: biome check --write --no-errors-on-unmatched

fix: update return type description in invert function documentation
  src/content/docs/snippets/typescript/object/invert.ts
Due: biome check --write --no-errors-on-unmatched

fix: update date field and improve script descriptions in markdownlint documentation
  src/content/docs/learn/guides/project/markdownlint.mdx
Due: markdownlint-cli2 --fix

fix: correct selector for first child image in card component
  src/content/docs/snippets/css/layouts/smol-layouts.css
Due: none

fix: update frontmatter check to exclude template articles
  scripts/update-frontmatter.ts
  src/content/docs/reference/templates/article-template.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

chore: update deps
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

refactor: use undefined instead of null
  .gitignore
  src/content/docs/blog/14-data-structures.mdx
  src/content/docs/blog/15-advanced-data-structures.mdx
Due: markdownlint-cli2 --fix

fix: update article
  src/content/docs/blog/14-data-structures.mdx
  src/content/docs/blog/15-advanced-data-structures.mdx
Due: markdownlint-cli2 --fix

chore: renaming
  src/content/docs/blog/21-data-structures.mdx
  src/content/docs/blog/22-advanced-data-structures.mdx
Due: markdownlint-cli2 --fix

fix: fix links
  src/content/docs/blog/21-data-structures.mdx
  src/content/docs/blog/22-advanced-data-structures.mdx
Due: markdownlint-cli2 --fix

docs: update README
  README.md
Due: markdownlint-cli2 --fix

fix: update markdown linting configurations and improve formatting consistency
  .markdownlint-cli2.jsonc
  .markdownlint.jsonc
  .vscode/settings.json
  oxfmt.config.ts
  package.json
  src/content/docs/blog/06-debouncing-throttling.mdx
  src/content/docs/blog/16-emberjs.mdx
  src/content/docs/blog/17-programming-paradigms.mdx
  src/content/docs/blog/18-web-platform-baseline.mdx
  src/content/docs/blog/19-web-rendering-patterns.mdx
  src/content/docs/learn/guides/project-collaboration/06-merge-request-recommendations.md
  src/content/docs/learn/guides/project-collaboration/07-git-workflow.md
  src/content/docs/learn/guides/project-collaboration/11-writing-guidelines.mdx
  src/content/docs/learn/guides/project/oxfmt.mdx
  src/content/docs/learn/guides/project/tsconfig-base.jsonc
  src/content/docs/reference/tools/setup.md
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

fix: update markdown linting styles and improve formatting consistency across multiple documents
  .markdownlint.jsonc
Due: biome check --write --no-errors-on-unmatched

fix: update linting commands and improve markdown formatting consistency across documents
  .lintstagedrc.json
  .markdownlint.jsonc
  package.json
  src/content/docs/blog/02-generics.mdx
  src/content/docs/blog/03-desctructuring.mdx
  src/content/docs/blog/04-memoization.mdx
  src/content/docs/blog/05-higher-order-functions.mdx
  src/content/docs/blog/07-git-bisect.mdx
  src/content/docs/blog/08-git-rebase.mdx
  src/content/docs/blog/09-sorting-algorithms.mdx
  src/content/docs/blog/10-dry-principle.mdx
  src/content/docs/blog/11-solid-principles.mdx
  src/content/docs/blog/12-dev-acronyms.mdx
  src/content/docs/blog/13-acid.mdx
  src/content/docs/blog/14-algorithm-strategies.mdx
  src/content/docs/blog/15-oop.mdx
  src/content/docs/blog/20-design-patterns.mdx
  src/content/docs/blog/21-data-structures.mdx
  src/content/docs/blog/22-advanced-data-structures.mdx
  src/content/docs/learn/guides/project/editorconfig.mdx
  src/content/docs/reference/templates/article-template.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

Enhance CSS snippets with layout improvements and reset adjustments
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  src/content/docs/snippets/css/components/blur-backdrop.css
  src/content/docs/snippets/css/layouts/every-layout.css
  src/content/docs/snippets/css/layouts/kp-layouts.css
  src/content/docs/snippets/css/layouts/one-line-layouts.css
  src/content/docs/snippets/css/layouts/smol-layouts.css
  src/content/docs/snippets/css/resets/reset.css
  src/content/docs/snippets/css/resets/starter.css
  src/content/docs/snippets/css/upgrades/modern-reset-addition.css
Due: biome check --write --no-errors-on-unmatched

feat: update to vite-plus
  .husky/pre-commit
  .lintstagedrc.json
  .markdownlint.jsonc
  .vite-hooks/pre-commit
  .vscode/settings.json
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/content/docs/learn/guides/project/oxfmt.config.ts
  src/content/docs/learn/guides/project/oxfmt.mdx
  src/content/docs/learn/guides/project/oxfmtrc.json
  src/content/docs/learn/guides/project/oxlint-config.ts
  src/content/docs/learn/guides/project/oxlint.mdx
  src/content/docs/learn/guides/project/oxlintrc.json
  src/env.d.ts
  tsconfig.json
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

fix: reorder scripts in package.json for better organization
  package.json
Due: biome check --write --no-errors-on-unmatched

chore: update @typescript/native-preview version to 7.0.0-dev.20260325.1 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

chore: cleanup dependencies using knip and delete unused web features constants
  knip.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/constants/webFeatures.ts
Due: biome check --write --no-errors-on-unmatched

feat: add Knip configuration and documentation for unused file detection
  src/content/docs/learn/guides/project/index.mdx
  src/content/docs/learn/guides/project/knip.config.ts
  src/content/docs/learn/guides/project/knip.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

docs: update TS Config with stricter defaults
  src/content/docs/learn/guides/project/tsconfig-base.jsonc
  src/content/docs/learn/guides/project/tsconfig.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

chore: move to stricter TS config
  src/content/docs/snippets/typescript/array/max-by.ts
  src/content/docs/snippets/typescript/array/min-by.ts
  src/content/docs/snippets/typescript/class/signals.ts
  src/content/docs/snippets/typescript/date/convert-string-date.ts
  src/content/docs/snippets/typescript/date/relative-time.ts
  src/content/docs/snippets/typescript/url/set-url-parameters.ts
  src/pages/og/[...slug].ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched

chore: update PackageManagers usage to use 'dev' flag for installation
  src/components/PackageManagers.astro
  src/content/docs/learn/guides/project/biome.mdx
  src/content/docs/learn/guides/project/oxfmt.mdx
  src/content/docs/learn/guides/project/oxlint.mdx
  src/content/docs/learn/guides/project/tsgo.mdx
Due: markdownlint-cli2 --fix

chore: remove migration guide from Biome to OXC + tsgo
  src/content/docs/learn/guides/project/biome-to-oxc-tsgo.mdx
Due: markdownlint-cli2 --fix

feat: add scrollbar-gutter property for stable scrollbar in starter.css
  src/content/docs/snippets/css/resets/starter.css
Due: none

chore: formatting
  src/content/docs/blog/23-rob-pike-rules.mdx
Due: markdownlint-cli2 --fix

fix: update KISS principle reference and refine conclusion wording in Rob Pike's article
  src/content/docs/blog/23-rob-pike-rules.mdx
Due: markdownlint-cli2 --fix

chore: deps upgrade
  package.json
  pnpm-lock.yaml
  src/content/docs/index.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

chore: deps upgrade
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: update cspell version and add spell check to check script
  cspell.json
  package.json
Due: biome check --write --no-errors-on-unmatched

feat: add Atkinson Hyperlegible Next Variable font and update custom CSS
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/styles/custom.css
Due: biome check --write --no-errors-on-unmatched

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: add word to dictionary
  .vscode/settings.json
  src/styles/custom.css
Due: biome check --write --no-errors-on-unmatched

feat: AI-Friendly Crawl Signals
  README.md
  astro.config.mjs
  cspell.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/llms-full.txt
  public/llms.txt
  public/robots.txt
  src/content/docs/snippets/css/components/kbd.css
  src/content/docs/snippets/css/upgrades/fluid-font-size.css
  src/pages/[...slug].md.ts
  src/route-data.ts
  src/utils/discovery.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat: add starlight-llms-txt integration and update configuration
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/constants/links.ts
  src/utils/discovery.ts
Due: biome check --write --no-errors-on-unmatched

feat: integrate astro-og for enhanced Open Graph support in dev toolbar
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

chore: update astro config to TS
  astro.config.ts
  package.json
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  https://json.schemastore.org/lintstagedrc.json: any of: $schema
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs,json,jsonc}
  stylelint --fix: any of: *.{css}
  markdownlint-cli2 --fix: any of: *.{md,mdx}
