Repository edouardmisset/my-learning-curve: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.json, biome check --write --no-errors-on-unmatched, stylelint --fix, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.json",
  "*.{js,jsx,ts,tsx,mjs,cjs,json,jsonc}": [
    "biome check --write --no-errors-on-unmatched"
  ],
  "*.{css}": ["stylelint --fix"],
  "*.{md,mdx}": ["markdownlint-cli2 --fix"]
}

fix: simplify Disclaimer component by removing unused props and hardcoding text
  src/components/Disclaimer.astro
Due: none

docs: enhance TypeScript types guide with detailed explanations and examples
  src/content/docs/blog/01-types.mdx
Due: markdownlint-cli2 --fix

feat: add a spell checker to the project and its configuration Fixes #23 and fix spelling mistakes
  cspell.json
  package.json
  pnpm-lock.yaml
  src/content/docs/blog/03-desctructuring.mdx
  src/content/docs/blog/04-memoization.mdx
  src/content/docs/learn/guides/project-collaboration/00-getting-started.mdx
  src/content/docs/learn/guides/project-collaboration/05-conventional-commits.md
  src/content/docs/learn/guides/project-collaboration/06-merge-request-recommendations.md
  src/content/docs/learn/guides/project-collaboration/07-git-workflow.md
  src/content/docs/learn/guides/project/stylelint.mdx
  src/content/docs/learn/tutorials/data-analysis/00-workflow.md
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

refactor: clean up PackageManagers component and improve getEnv function
  .gitignore
  .vscode/settings.json
  cspell.json
  package.json
  pnpm-lock.yaml
  src/components/PackageManagers.astro
  src/content/docs/snippets/typescript/function/get-env.ts
  src/pages/og/[...slug].ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched

fix: correct typos in excerpt and installation instructions
  src/content/docs/blog/01-types.mdx
  src/content/docs/reference/tools/setup.md
Due: markdownlint-cli2 --fix

fix: update schema URL in lint-staged config and adjust markdown linting scripts
  .lintstagedrc.json
  src/content/docs/learn/guides/project-collaboration/11-writing-guidelines.mdx
  src/content/docs/reference/templates/article-template.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

Baseline status article (#47)
  .stylelintrc.json
  .vscode/settings.json
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/PackageManagers.astro
  src/constants/webFeatures.ts
  src/content/docs/blog/18-web-platform-baseline.mdx
  src/content/docs/snippets/css/components/blur-backdrop.css
  src/content/docs/snippets/css/components/kbd.css
  src/content/docs/snippets/css/layouts/every-layout.css
  src/content/docs/snippets/css/layouts/kp-layouts.css
  src/content/docs/snippets/css/layouts/one-line-layouts.css
  src/content/docs/snippets/css/layouts/smol-layouts.css
  src/content/docs/snippets/css/resets/starter.css
  src/content/docs/snippets/css/utilities/contrast-color.css
  src/content/docs/snippets/css/variables/animation.css
  src/content/docs/snippets/css/variables/button.css
  src/content/docs/snippets/css/variables/colors.css
  src/content/docs/snippets/css/variables/dark-theme.css
  src/content/docs/snippets/css/variables/durations.css
  src/content/docs/snippets/css/variables/fonts.css
  src/content/docs/snippets/css/variables/gradients.css
  src/content/docs/snippets/css/variables/light-theme.css
  src/content/docs/snippets/css/variables/normalize.css
  src/styles/custom.css
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

docs: write an article on `.editorconfig` files
  src/content/docs/learn/guides/project/editorconfig.mdx
Due: markdownlint-cli2 --fix

fix: fix precommit hook
  .husky/pre-commit
Due: none

chore: improve check script
  .markdownlint.jsonc
  cspell.json
  package.json
  src/content/docs/blog/18-web-platform-baseline.mdx
  src/content/docs/reference/templates/article-template.mdx
  src/content/docs/snippets/typescript/function/get-env.ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

fix: update TypeScript target and library version to es2024
  src/content/docs/learn/guides/project/tsconfig-base.jsonc
Due: biome check --write --no-errors-on-unmatched

docs: add tldr section to article template and writing guide
  src/content/docs/learn/guides/project-collaboration/11-writing-guidelines.mdx
  src/content/docs/reference/templates/article-template.mdx
Due: markdownlint-cli2 --fix

fix: fix precommit hook
  .lintstagedrc.json
  package.json
  src/content/docs/learn/guides/project-collaboration/11-writing-guidelines.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat: add script to update frontmatter with lastUpdated date
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  scripts/update-frontmatter.ts
Due: biome check --write --no-errors-on-unmatched

fix: fix reference link to full URL
  src/content/docs/reference/templates/article-template.mdx
Due: markdownlint-cli2 --fix

fix: fix precommit hook
  package.json
Due: biome check --write --no-errors-on-unmatched

chore: formatting
  src/content/docs/blog/18-web-platform-baseline.mdx
Due: markdownlint-cli2 --fix

fix: add import statement for PackageManagers component in markdownlint documentation
  src/content/docs/learn/guides/project/markdownlint.mdx
Due: markdownlint-cli2 --fix

fix: correct lastUpdated date in writing guidelines
  src/content/docs/learn/guides/project-collaboration/11-writing-guidelines.mdx
Due: markdownlint-cli2 --fix

fix: correct punctuation and formatting in documentation files
  src/content/docs/learn/guides/project/editorconfig.mdx
Due: markdownlint-cli2 --fix

fix: update blog link to use full URL
  src/content/docs/index.mdx
Due: markdownlint-cli2 --fix

test: update lastUpdated date in writing guidelines
  src/content/docs/learn/guides/project-collaboration/11-writing-guidelines.mdx
Due: markdownlint-cli2 --fix

fix: refine content and clarify rendering patterns
  src/content/docs/blog/19-web-rendering-patterns.mdx
Due: markdownlint-cli2 --fix

feat: add comprehensive guide on web rendering patterns
  src/content/docs/blog/19-web-rendering-patterns.mdx
Due: markdownlint-cli2 --fix

feat: add GitHub Copilot instructions
  .github/copilot-instructions.md
  .vscode/settings.json
  src/content/docs/learn/guides/project/tsconfig-base.jsonc
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

fix: typos
  src/content/docs/blog/19-web-rendering-patterns.mdx
Due: markdownlint-cli2 --fix

Update src/content/docs/blog/19-web-rendering-patterns.mdx
  src/content/docs/blog/19-web-rendering-patterns.mdx
Due: markdownlint-cli2 --fix

fix: update cSpell.words to include technical terms
  .vscode/settings.json
Due: biome check --write --no-errors-on-unmatched

fix: add ignoreFiles entry for CSS variables in stylelint configuration
  .stylelintrc.json
Due: biome check --write --no-errors-on-unmatched

fix: add overscroll-behavior property and media queries for hover effects in various CSS files
  src/content/docs/snippets/css/components/kbd.css
  src/content/docs/snippets/css/layouts/every-layout.css
  src/content/docs/snippets/css/layouts/kp-layouts.css
  src/content/docs/snippets/css/layouts/smol-layouts.css
  src/content/docs/snippets/css/resets/starter.css
Due: none

fix: use :where() for improved specificity in CSS selectors across multiple layout files
  src/content/docs/snippets/css/layouts/every-layout.css
  src/content/docs/snippets/css/layouts/smol-layouts.css
Due: none

fix: improve code readability and consistency in various TypeScript snippets
  .vscode/settings.json
  src/content/docs/blog/17-design-patterns.mdx
  src/content/docs/snippets/typescript/array/group-by.ts
  src/content/docs/snippets/typescript/array/pivot-tables.ts
  src/content/docs/snippets/typescript/object/invert.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat: add a new article on "Design Patterns" and other fixes
  .lintstagedrc.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/content/docs/blog/01-types.mdx
  src/content/docs/blog/02-generics.mdx
  src/content/docs/blog/05-higher-order-functions.mdx
  src/content/docs/blog/09-sorting-algorithms.mdx
  src/content/docs/blog/10-dry-principle.mdx
  src/content/docs/blog/11-solid-principles.mdx
  src/content/docs/blog/15-oop.mdx
  src/content/docs/blog/17-design-patterns.mdx
  src/content/docs/blog/17-programming-paradigms.mdx
  src/content/docs/blog/18-web-platform-baseline.mdx
  src/content/docs/blog/19-web-rendering-patterns.mdx
  src/content/docs/blog/20-design-patterns.mdx
  src/content/docs/reference/templates/article-template.mdx
Due: biome check --write --no-errors-on-unmatched, markdownlint-cli2 --fix

feat: add examples for various programming paradigms in the article
  src/content/docs/blog/17-programming-paradigms.mdx
Due: markdownlint-cli2 --fix

fix: correct punctuation and improve type safety in TypeScript examples
  src/content/docs/blog/20-design-patterns.mdx
Due: markdownlint-cli2 --fix

fix: update article
  src/content/docs/blog/20-design-patterns.mdx
Due: markdownlint-cli2 --fix

fix: update tags field description to specify Title Case format
  .github/copilot-instructions.md
Due: markdownlint-cli2 --fix

fix: improve clarity and consistency in examples and descriptions throughout the article
  src/content/docs/blog/20-design-patterns.mdx
Due: markdownlint-cli2 --fix
